@import "../variable.scss";

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: $min-width;
  height: 48px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  .footer-info {
    @include flex-middle;
    time {
      margin: 0 8px;
    }
  }
  .footer-others {
    @include flex-middle;
    a {
      padding: 0 8px;
      text-align: center;
    }
  }
}